* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

.container {
    width: 100%;
    /* min-height: 100vh; */
    display: grid;
    grid-template-columns: 20px repeat(8, 1fr) 20px;
    grid-template-rows: repeat(10, auto);
    grid-template-areas: ". shopping shopping shopping shopping  shopping shopping  payment payment .";
}

.container .shopping-cart {
    grid-area: shopping;
    padding: 20px;
}

.container .payment-info {
    grid-area: payment;
    padding: 20px;
    background-color: #0000001c;
    border-radius: 20px;
}

.container .shopping-cart h1,
.container .payment-info h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: aliceblue;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.37);
}
tr{
    border-bottom: 1px solid black;
}
th,
td {
    padding: 10px;
    text-align: left;
    color: aliceblue;
}

table td.product {
    width: fit-content;
    display: flex;
    align-items: center;
}

table td.product .product-log {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

table td.product .product-log img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

table td.product .subtext {
    color: rgb(255, 255, 255);
    font-size: 14px;
}

table td .qty-btn {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 4px 7px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

table td.close p {
    font-family: Math, Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}

table td.close p:active {
    color: red;
}

.summary {
    margin-top: 20px;
    text-align: end;
}

.summary .summary-flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.summary p,
.summary h2 {
    margin-bottom: 10px;
    color: aliceblue;
}

.continue-shopping {
    background-color: transparent;
    border: none;
    color: #18c601;
    cursor: pointer;
    font-size: 16px;
}
.payment-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.payment-info form {
    display: flex;
    flex-direction: column;
}

.payment-method {
    margin-bottom: 20px;
}

.payment-method label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: aliceblue;
}

.card-details label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: aliceblue;
}
.card-details input {
    background-color: rgb(6, 165, 17);
}
.card-details textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.checkout-btn {
    background-color: #01a925;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
        display: grid;
        grid-template-columns: 20px repeat(4, 1fr) 20px;
        grid-template-rows: repeat(10, auto);
        grid-template-areas: ". shopping shopping shopping shopping  ." ". payment payment payment payment .";
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(10, auto);
        grid-template-areas: " shopping shopping shopping shopping  " " payment payment payment payment ";
    }
}
