* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #303030;
}
/* .container {
    margin-top: 180px;
} */
.card{
    margin-top: 30px;
    max-width: 347px;
    transition: 0.5s;

}
.card-columns{
    gap: 50px;
}
.card:hover{
    transform: translateY(-15px);

}
.card-body2 {
    background-image: linear-gradient(125deg, #7a18fa4f 80%, #9240fd4f 20%);
    width: 350px;
    height: 125px;
}

.card-body3 {
    background-image: linear-gradient(125deg, #fd1e1e4f 80%, #fa45454f 20%);
    width: 350px;
    height: 125px;
}

.card-body4 {
    background-image: linear-gradient(125deg, #2188c44f 80%, #3d9cc24f 20%);
    width: 350px;
    height: 125px;
}

.card-body5 {
    background-image: linear-gradient(125deg, #0aaf2e4f 80%, #21c4444f 20%);
    width: 350px;
    height: 125px;
}

.card-body6 {
    background-image: linear-gradient(125deg, #fd5a0e4f 80%, #f77a414f 20%);
    width: 350px;
    height: 125px;
}


.btn {
    position: absolute;
    right: 0;
    top: 0;
    color: rgb(153, 151, 151);
    margin: 15px;
}

.card-text {
    text-align: center;
    margin-top: -20px;
    font-size: 18px;
}

.card-text1 {
    font-size: 32px;
    font-weight: 700;
    margin-left: 120px;
    margin-top: 25px;
}

.card-icon {
    border-radius: 13%;
    width: 85px;
    height: 85px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 22px;
    border: 1px solid white;
    font-size: 40px;
    text-align: center;
    padding-top: 9px;
    color: white;

}
.card-columns{
    justify-content: center;
display: flex;
align-items: center;
}
@media screen and (max-width: 805px) {
    .card-columns{
        justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}


@media screen and (max-width: 1300px) {
    #sidebar #d{
        display: none;
    }
    }

    @media screen and (max-width: 1000px) {
        hr{
            width: auto;
        }
        #hh{
            display: none;
        }
        nav{
            height: 51px;
        }
        #sidebar #d{
            display: inline;
        }
    }

    @media screen and (max-width: 805px) {
        hr{
            width: auto;
        }
    }
    @media screen and (max-width: 600px) {

    }
