.h3 {
    color: green;
    text-align: center;
    font-family: cursive;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.h1,
pre {
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.container3 {
    display: flex;
    color: white;
justify-content: center;
margin-top: 50px;
margin-bottom: 50px;

}

.section2 {
    padding: 20px;
    border: 1px solid #30ea55;
    margin-right: 20px;
    background-color: #373232;
    cursor: pointer;
    transition: 0.5s;
    padding: 34px;
    max-width: 350px;

}

.section2 h2 {
    color: #c5dbc4;
}

.section2 p {
    color: #666;
}

.section2 #i {
    font-size: xxx-large;
    color: #30ea55;
    background-color: #333;
    width: 63px;
    height: 68px;
    display: flex;
    background-color: #8080806b;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.section2{
    transition: 0.5s;
    border-radius: 10px;
    padding: 20px;
    min-width: 311px;
}
.section2:hover{
    transform: translateY(-15px);
}
.section2 #a{
    margin-top: 44px;
}
.section2 div a{
    text-decoration: none;
    color: #30ea55;
    font-size:20px;
}
.section2 p{
    line-height: 1.4;
}


@media screen and (max-width: 1300px) {

}

@media screen and (max-width: 1000px) {
    hr{
        width: auto;
    }
}

@media screen and (max-width: 805px) {
.container3{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 20px;
}
.section2{
    margin-bottom: 50px;
}
}

@media screen and (max-width: 600px) {

}
